/*
 * Style tweaks
 * --------------------------------------------------
 */
html, body {
  /* Prevent scroll on narrow devices overflow-x: hidden; */
}

/* ==========================================================================
   Preloading style
   ========================================================================== */
.mask-color {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #1b83d3;
}

#preview-area {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 60px;
  right: 0;
  margin: auto auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  z-index: 9999999;
}

.spinner {
  margin: 20px 0 auto;
  width: 200px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.term-of-use {
  padding: 10px 0;
  font-style: italic;
  font-size: 12px;
}

.user_payment_status,
#blog-page .col-md-3 .widget_text {
  background: #F4F6F5;
  padding: 25px;
  position: relative;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 35px;
}

.step-content-wrapper .list-price li.selected {
  background: #EAF6FD;
}

.btn.btn-submit-login-form:hover {
  opacity: .8;
}

.step-content-wrapper .edit-gallery-image .gallery-image {
  margin-top: 4px;
}

#carousel_container .plupload.html5,
#p18hoq1i5n1i58n3f1i2m10s0lo60_html5_container,
#carousel_container .plupload.flash,
#carousel_container .moxie-shim,
#carousel_container .moxie-shim-html5 {
  height: 75px !important;
  width: 80px !important;
  left: 0px !important;
  z-index: 100;
}

.list-places {
  display: block;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clear-list-places {
  display: block;
  -webkit-flex-wrap: inherit;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
}

.list-places li {
  margin-bottom: 30px;
}

.place-detail-wrapper .card_bottom_right {
  text-align: right;
  padding: 0;
}

footer .list-places .place-wrapper .place-detail-wrapper span.address-place {
  margin-bottom: 0px;
}

.list-places .place-wrapper .place-detail-wrapper .rate-it li {
  display: inline-block;
}

.list-places .place-wrapper .place-detail-wrapper .rate-it li i {
  color: #ecf0f1;
  cursor: pointer;
}

.list-places .place-wrapper .place-detail-wrapper .rate-it li.active i {
  color: #f1c40f;
}

.list-places .place-wrapper .place-detail-wrapper .content-place {
  color: #5f6f81;
  font-size: 14px;
  display: none;
}

.clear-pdr {
  padding-right: 0px;
}

/**
 * raty css for rating
*/
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  color: #F1C40F;
}

/* .star-off-png {
	color : #5d5d5d;
} */
.single-place-control li a {
  padding: 5px 20px;
}

.single-place-control li a i {
  margin-right: 5px;
}

.edit-place-option.fullwidth {
  right: inherit;
  bottom: 0;
}

.single-place-control a.reject,
.edit-place-option a.reject,
.edit-place-option a.pending,
.edit-event-option a.pending {
  color: #e64b3b;
}

.single-place-control a.approve,
.edit-place-option a.approve,
.edit-place-option a.publish,
.edit-event-option a.approve,
.edit-event-option a.publish {
  color: #19bb9b;
}

.edit-place-option a.paid-status {
  color: #E87863;
}

.in-author .edit-place-option {
  right: 0;
}

.pinned-custom {
  top: 100px !important;
}

#single-place .single-place-wrapper.load-more {
  margin-bottom: 40px;
  margin-top: 0px;
}

.list-option-left-wrapper .list-option-left li a.loved i {
  color: green;
}

.list-option-left .tooltip.right .tooltip-arrow {
  border-right-color: #6d7c8c;
}

.list-option-left .tooltip.top .tooltip-arrow {
  border-top-color: #6d7c8c;
}

.list-option-left .tooltip-inner {
  background: #6d7c8c;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.detail-place-right-wrapper #block-events {
  margin-left: 0;
  margin-right: 0;
}

.detail-place-right-wrapper select#action-user-option {
  min-width: 110px;
  background-color: #1c83d3;
  float: right;
  border: none;
  color: #fff;
}

.detail-place-right-wrapper .info-address-place-wrapper .img-small-place img {
  width: 100%;
}

.detail-place-right-wrapper .upgrade-btn:hover {
  opacity: 0.8;
}

.deny-claim {
  background-color: #f1c30f;
  color: #000;
  padding: 8px 30px;
  margin-left: 15px;
}

.dropdown .claim-place {
  background: transparent;
}

.description-place-wrapper .rate-wrapper {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.description-place-wrapper .rate-wrapper .rate-it {
  display: inline-block;
}

.description-place-wrapper .rate-wrapper .number-review {
  font-style: italic;
  margin-left: 10px;
  color: #1c84d4;
  display: inline-block;
  cursor: pointer;
}

.event-active-wrapper .event-wrapper .img-event img {
  max-width: 100%;
}

.event-active-wrapper .event-wrapper .title-event {
  color: #5f6f81;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
}

.event-active-wrapper .event-wrapper .title-envent.no-title-envent {
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  margin: 21px 0;
}

.edit-event-option {
  display: inline-block;
  float: right;
}

.edit-event-option li {
  padding-left: 8px;
}

.form-control {
  height: 40px;
  padding: 0 15px;
  outline: none;
  width: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0px;
}

input.time-picker {
  display: inline-block !important;
}

@media (max-width: 750px) {
  .open-block .open-date .date-list li {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 650px) {
  .open-block .open-date .date-list li {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (max-width: 768px) {
  .list-option-left-wrapper {
    margin-left: -5px;
  }
  .list-option-filter .chosen-container {
    width: 180px !important;
  }
  .list-option-filter .icon-list-view .icon-view {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .list-option-left-wrapper {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .list-option-left-wrapper {
    margin-left: -6px;
  }
}

@media (max-width: 599px) {
  .col-md-3 .col-md-4.review-item {
    width: 100%;
    clear: both;
  }
}

/* ---------------------------------------- */
/* R E S P O N S I V E      S T Y L E       */
/* ---------------------------------------- */
@media (max-width: 1200px) {
  .copyright-wrapper .col-lg-4 {
    text-align: center;
  }
  .copyright-wrapper .col-lg-4 .logo {
    margin-bottom: 6px;
  }
  .copyright-wrapper .col-lg-4 .text-copyright {
    margin-top: 6px;
  }
  .copyright-wrapper .col-lg-4 .logo, .copyright-wrapper .col-lg-4 .text-copyright {
    text-align: center !important;
    display: block;
  }
}

@media (min-width: 1200px) {
  .top-search {
    border-left: 1px solid #cfd4d9;
  }
}

@media (max-width: 1170px) {
  .img-small-place img {
    width: 100%;
  }
  .prev-testi {
    left: 0px;
  }
  .next-testi {
    right: 0px;
  }
}

@media (max-width: 1024px) {
  .open-block .open-date .date-list li {
    padding-left: 14px;
    padding-right: 14px;
  }
  #post_content_ifr {
    width: 99.59% !important;
  }
}

@media (max-width: 992px) {
  .wrapper_profile .col-right-profile .right-profile .content-tabs-right-profile .content-place .list-place-tabs li.place-search {
    float: none;
  }
  .right-pad-left {
    margin-top: 20px;
  }
  .date-time-place .date-time .god span.open-date {
    width: 34%;
  }
  .date-time-place .date-time .god span.open-time {
    margin-left: 8px;
  }
  .wrapper_profile .col-left-profile .left-profile .user-info .content-info .avatar {
    width: auto;
    height: auto;
    margin-right: 24px;
  }
  .wrapper_profile .col-left-profile .left-profile .user-info .content-info {
    padding: 20px;
  }
  .wrapper_profile .col-left-profile .left-profile .user-info .content-info .detail-info {
    padding-top: 0;
    clear: none;
  }
  .wrapper_profile .col-left-profile .left-profile .user-info .content-info .detail-info p {
    margin-bottom: 0;
    padding-left: 18px;
    line-height: 42px;
  }
  .wrapper_profile .col-left-profile .left-profile .user-info .content-info .detail-info p:nth-child(2n+1) {
    background: #f5f6f8;
  }
  .option-contact-phone, .option-contact-email {
    display: none;
  }
  .list-place-publishing > li > .col-md-12 {
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #d5d9d8;
  }
  .list-place-publishing > li > .col-md-12 .wrap-place-reason {
    padding-left: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) {
  ul#menu-header-top {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .elem-font-size-normal {
    font-size: 14px;
  }
  ul.top-menu-right li.non-login {
    min-width: 90px;
  }
  .list-places .place-wrapper .hidden-img {
    min-height: auto;
  }
}

@media (max-width: 480px) {
  .elem-full-width {
    width: 100%;
  }
  .elem-font-size-normal {
    font-size: 12px;
  }
  .col-right-profile .right-profile .tabs-rigth-profile .list-info-user-tabs li a i {
    margin-right: 2px;
  }
  .col-right-profile .right-profile .tabs-rigth-profile .list-info-user-tabs li span.text {
    display: none;
  }
}

@media (max-width: 640px) {
  .wrapper_profile .col-right-profile .right-profile .tabs-rigth-profile .list-info-user-tabs li a > span {
    margin: 0;
    display: block;
    text-align: center;
    margin-top: 4px;
  }
  .date-time-place .date-time .god span.open-date {
    width: 41%;
  }
  .date-time-place .date-time .god span.open-time {
    margin-left: 2px;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 991px) {
  .col-md-3 .col-md-4.review-item {
    width: 50%;
    float: left;
  }
  .customNavigation a {
    display: none;
  }
  .owl-theme .owl-controls {
    display: block !important;
  }
}

@media (max-width: 769px) {
  footer .col-md-3 {
    margin-bottom: 30px;
    display: block;
  }
  .copyright-wrapper .logo {
    display: block;
  }
  .detail-place-right-wrapper {
    width: 92%;
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    transition: all .25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
  .wrapper_profile .col-right-profile .right-profile .content-tabs-right-profile .content-events .list-place-publishing > li .wrap-place-publishing {
    padding-right: 0;
  }
  .wrapper_profile .col-right-profile .right-profile .content-tabs-right-profile .content-events .list-place-publishing > li .wrap-place-publishing .block-place-publishing {
    border: none;
  }
}
/** Fix ltr and update new version */
.de-scontrol .chosen-container-single .chosen-single{
	-webkit-box-shadow:none;
	background: none !important;
	background-color: #fff;
	border: 0;
	border-radius: 0;

}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	height: 40px !important;
	width: 100%;
}
.de-search-form .chosen-container-single .chosen-single {
    border: none !important;
    border-left: 1px solid #e4e4e4 !important;
    height: 20px !important;
}
.de-search-form .chosen-container-single .chosen-single div b:before{
	top:11px;
}
.chosen-container-multi .chosen-choices{
	box-shadow: none !important;
	background:none !important;
	border:1px solid rgba(189,195,199,0.4) !important;
}
.chosen-container-single .chosen-single{
	height: 40px !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	background: none !important;
	border:1px solid rgba(189,195,199,0.4) !important;
}
.chosen-container-single .chosen-single span{
	line-height: 38px;
	color: #5f6f81;
}
.chosen-container-single .chosen-single div b:before {
    font-family: 'FontAwesome';
    content: "\f0d7";
    color: #bdc3c7;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.rtl .chosen-container .chosen-drop{
	left: 0 !important;
}